.Side-bar
  .Left-header
    .Left-box
      .User-name masa
      .Icons
        = link_to "#", class: "Icons__icon" do
          = icon('fa', 'edit')
        = link_to "#", class: "Icons__icon" do
          = icon('fa', 'cog')
  .Group-list
    .Group
      .Group__name techcamp
      .Group__message まだメッセージはありません
    .Group
      .Group__name techcamp
      .Group__message まだメッセージはありません
    .Group
      .Group__name techcamp
      .Group__message まだメッセージはありません