.Chat-main {
  background-color: #ffffff;
  width: calc( 100vw - 300px );
  .Right-header {
    height: 100px;
    padding: 0 40px;
    display: flex;
    justify-content: space-between;
    border-bottom: 1px solid #eeeeee;
    .Group-info {
      margin: 35px 0 15px 0;
      .Group-name {
        color: #333333;
        font-size: 20px;
        margin-bottom: 15px;
      }
      .List-box {
        display: flex;
        color: #999999;
        font-size: 12px;
        .Member-list{
          margin-left: 6px;
        }
      }
    }
    .Group-edit {
      line-height: 40px;
      height: 40px;
      width: 72px;
      margin-top: 28px;
      font-size: 16px;
      border: 1px solid #38aef0;
      text-align: center;
    }
    a{
      color: #38aef0;
      padding: 0 20px;
      text-decoration: none;
    }
  }
  .Message-list {
    background-color: #fafafa;
    height: calc(100vh - 190px);
    padding: 35px 40px 0px;
    overflow: scroll;
    .MessageBox {
      margin-bottom: 46px;
      .Message-info {
        display: flex;
        margin-bottom: 12px;
        &__user-name {
          font-size: 16px;
          font-weight: bold;
          color: #333333;
        }
        &__date {
          padding-left: 10px;
          color: #999999;
          font-size: 12px;
        }
      }
      .Message {
        &__content{
          color: #434A54;
          font-size: 14px;
        }
      }
    }
  }
  .Message-form {
    background-color: #d2d2d2;
    height: 90px;
    padding: 20px 40px;

    .form {
      display: flex;
      justify-content: space-between;
      .Input-box {
        width: 100%;
        position: relative;
        .Input-text {
          padding-left: 10px;
          height: 50px;
          width: 100%;
          border: none;
        }
        .Upload-icon {
          line-height: 50px;
          font-size: 25px;
          position: absolute;
          right: 10px;
          .Upload-photo {
            display: none;
          }
        }
      }
      .Form-send{
        height: 50px;
        padding: 0 30px;
        margin-left: 15px;
        font-size: 16px;
        border: none;
        background-color: #38aef0;
        color: #ffffff;
      }
    }
  }
}