.Side-bar {
  width: 300px;
  font-weight: bold;
  color: #ffffff;
  .Left-header {
    background-color: #253141;
    height: 100px;
    display: flex;
    align-items: center;
    .Left-box {
      height: 20px;
      width: 260px;
      margin:0 20px;
      display: flex;
      justify-content: space-between;
      .Icons {
        width: 60px;
        display: flex;
        justify-content: flex-end;
        &__icon {
          display: block;
          margin-left: 5px;
          text-decoration: none;
          color: #ffffff;
        }
      }
    }
  }
  .Group-list {
    background-color: #2f3e51;
    height: calc(100vh - 100px);
    padding: 0 20px;
    .Group {
      padding: 20px 0 40px 0; 
      &__name {
        font-size: 15px;
        margin-bottom: 5px;
      }
      &__message {
        font-size: 11px;
      }
    }
  }
}